body{
font-family: 'Open Sans', sans-serif;
padding: 0;
margin: 0;
}

div, p, input, button, form, span, a, ul, li {
 box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
} 

.conteiner{
 width: 1170px;
 margin: 0 auto;
}

 .header{
 background: rgba(78,189,254,1);
background: -moz-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(78,189,254,1)), color-stop(100%, rgba(55,144,217,1)));
background: -webkit-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
background: -o-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
background: linear-gradient(135deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ebdfe', endColorstr='#3790d9', GradientType=1 );
padding-top: 59px;
color: white;
padding-bottom: 149px;}

.Wrapper{
	display: flex;
	justify-content: space-between;
	align-items:center;
}

h1  {
/*font-size: 31px;*/
font-family: Ubuntu ;
line-height: 1.6em;
letter-spacing: 0.1em;
font-weight: bold;
}

.yellow span{
font-size: 59px;
}

.logo{
width: 518px;
}

.intro{
	line-height: 1.6em;
	width: 400px;
}

.btn{
text-align: center;
text-decoration: none;
width: 221px;
height: 55px;
background: #ffd429;
color: black;
font-family:Montserrat Black ;
font-size: 15px;
display: block;
padding-top: 20px;
margin-top: 42px;
}

.btn:hover {
background: #eea61b;
color: black;
transition: all 0.5s ease;}

.learn{
padding-top: 108px;
padding-bottom: 119px;
}

.section-title {
color: black;
font-weight: bold;
font-size: 30px;
font-family: Ubuntu ;
text-align: center;
}


.skills{
display: flex;
justify-content: space-between;
margin-top: 74px;
}

.skill-title{
font-size: 19px;
padding-top: 99px;
text-align: center;
font-family: Ubuntu;
font-weight: bold;
}

.skill-text{
font-size: 15px;
margin: 7px auto 0;
text-align: center;
}

.skill {
width: 344px;
background: url('../img/desktop.jpg') no-repeat;
background-position: 50% 0%;
width: 289px;
}
 
.dream{
width: 344px;
background: url('../img/icon.png') no-repeat;
background-position: 50% 0%;
width: 289px;
}

.red{
width: 344px;
background: url('../img/iconn.png') no-repeat;
background-position: 50% 0%;
width: 310px;
}

.future{
background: #ecf3f8;
padding-top: 101px;
padding-bottom: 100px;
}

.future-form{
text-align: center;
padding-bottom: 61px;
font-family: Ubuntu;
font-weight: bold;
}

input {
display: block;
width: 341px;
height: 50px;
font-family: Ubuntu ;
font-size: 15px;
border: 1px solid #bbbbbb;
margin: 0 auto 15px
}

.nar{
height: 55px;
width: 341px;
border: none;
padding-bottom: 20px;
margin: 0 auto
}

.final{
background: #164d7a;
padding-top: 58px;
padding-bottom: 61px;
}

.protect{
color: white;
font-size: 14px;
text-align: center; 
margin: 0;
}

/*Responsive*/
/*1200px-1400px*/
@media screen and (max-width: 1400px){
	.conteiner{
		width: 1140px;
}
}

/*992px-1200px*/
@media screen and (max-width: 1200px){
	.conteiner{
	width: 960px;
}
}


/*768px-992px*/
@media screen and (max-width: 992px){
	.conteiner{
	width: 720px;
}
.Wrapper{
	    flex-direction: column;	
}
.offer{
width: 100%;
}
.yellow{
	width: auto;
}
.intro{
	width: auto;
}
.logo{
	width: 100%;
}
.skills{
flex-direction: column;
}
.skill{
	margin: 0 auto 30px;
}
.dream{
 margin: 0 auto 30px;
}
.red { 
	margin: 0 auto;
}
input {
width: auto;
}
.nar{
	width: 208px;
}
}


/*576px-768px*/
@media screen and (max-width: 768px){
	.conteiner{
	width: 540px;
}
}


/*0px-576px*/
@media screen and (max-width: 576px){
	.conteiner{
	width: 90%;
}
}
